<div>
  <div class="col-lg-6 col-md-12">
    <closeOrder></closeOrder>
  </div>
  <div class="col-lg-6 col-md-12">
    <newOrder></newOrder>
  </div>
  <div class="col-lg-12 col-md-12">
    <ba-card title="Ordenes activas" baCardClass="with-scroll table-panel">
      <div *ngIf="!objectInfo" class="form-group text-center">
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
      </div>
      <ng2-smart-table *ngIf="objectInfo" [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)"></ng2-smart-table>
    </ba-card>
  </div>
</div>
